

nav {
    background-color: #333;
    color: #fff;
    padding: 14px 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
  
li {
    margin-right: 10px;
}
  
a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
  
a:hover {
    text-decoration: underline;
}
  